
/**************************/
/*** Background Subject ***/
.bg-subject-0 {
    background-color: #8d9ef1;
}

.bg-subject-1 {
    background-color: #49BF67;
}

.bg-subject-2 {
    background-color: #F2DEDE;
}

.bg-subject-3 {
    background-color: #858D93;
}

.bg-subject-4 {
    background-color: #FF9900;
}

.bg-subject-5 {
    background-color: #ccffec;
}

.bg-subject-6 {
    background-color: #c1ff4d;
}

.bg-subject-7 {
    background-color: #ff94b3;
}

.bg-subject-8 {
    background-color: #b991ff;
}

.bg-subject-9 {
    background-color: #abb8ff;
}

.bg-subject-10 {
    background-color: #29aeff;
}
.bg-subject-11 {
    background-color: #f1e05a;
}

/**********************************/
/** Header **/
#info-numberSuject {
    float: right;
    font-size: 18px;
}
#numberSubject {
    color: #ff004f;
}
